Host *
  # Multiplex several connections to the same host over the same channel.
  ControlMaster auto
  ControlPersist yes
  ControlPath ~/.ssh/control/%r@%h:%p.sock

  # Do protocol-level keepalives, in the hopes of foiling the Cisco ASA that
  # seems determined to time out my sessions. 5 second pings, 3 of 'em,
  # connections will time out 15 seconds after the remote host is unreachable.
  ServerAliveInterval 5
  ServerAliveCountMax 3

Host *.freeagentcentral.net
  ForwardAgent yes

Host *.local
  ForwardAgent yes

Host *.rubaidh.com
  ForwardAgent yes

Host db1.freeagentcentral.net
  User dba
Host db2.freeagentcentral.net
  User dba

Host smartos.local
  Hostname localhost
  Port 8322
  User root
  ForwardAgent yes
